In [2]:
import pandas as pd
import numpy as np
import wikidata

# scraping libraries
from bs4 import BeautifulSoup
from wikidata.client import Client

In [3]:
# import the data
df = pd.read_csv('top_20_communities_all_actors_wikidata.csv')

In [4]:
df

,Actor_name,connectivity,actor_gender,Actor_date_of_birth,Actor_ethnicity,Freebase_actor_ID,community,Wikidata_actor_id
0,John Wayne,286,M,1907-05-26,/m/063k3h,/m/043gj,1,Q40531
1,Roy Rogers,242,M,1911-11-05,/m/07hwkr,/m/01mc6h1,1,Q367129
2,George 'Gabby' Hayes,130,M,1885-05-07,NaN,/m/03l6jx,1,Q1277973
3,Basil Rathbone,121,M,1892-06-13,NaN,/m/0hwd8,1,Q336865
4,John Carradine,114,M,1906-02-05,NaN,/m/021mlp,1,Q312878
...,...,...,...,...,...,...,...,...
6069,Pushpavalli,3,F,NaN,NaN,/m/080hxfv,20,Q7261853
6070,Sarathi,3,M,1942-06-26,NaN,/m/0463_8t,20,Q7423331
6071,Ragini,3,F,1937,NaN,/m/06w4wmq,20,Q7283094
6072,Nirmalamma,3,F,1920,NaN,/m/07kj3f9,20,Q7040057
6073,Rushyendramani,3,F,1917-01-01,NaN,/m/0br_7d6,20,Q7380893

In [5]:
# create a new client
client = Client()

In [6]:
# function that gets the actor description from the wikidata id (if an error occurs, it returns 'NaN')
def get_actor_description(wikidata_id):
    try:
        actor = client.get(wikidata_id, load=True)
        return actor.description.texts['en']
    except:
        return np.nan

In [7]:
# sample test
df_Sample = df.sample(10)
df_Sample['actor_description'] = df_Sample['Wikidata_actor_id'].apply(get_actor_description)
df_Sample

,Actor_name,connectivity,actor_gender,Actor_date_of_birth,Actor_ethnicity,Freebase_actor_ID,community,Wikidata_actor_id,actor_description
4671,Celia Imrie,15,F,1952-07-15,/m/02w7gg,/m/03j5kf,10,Q467502,British actress
3332,Janagaraj,178,M,1945,NaN,/m/0cdrb9,6,Q6150645,Indian actor
4935,Emily Watson,3,F,1967-01-14,/m/02w7gg,/m/02l4pj,11,Q229535,English actress
1159,Anita Raj,68,F,1962-08-13,NaN,/m/03qjbbd,2,Q4765619,Indian actress
2685,John Welsh,3,M,1904-11-07,NaN,/m/01tjc9,4,Q15527373,Irish actor (1914-1985)
5814,Sydney Chaplin,8,M,1885-03-16,NaN,/m/04_lr8,17,Q606780,English actor (1885-1965)
549,Melville Cooper,6,M,1896-10-15,NaN,/m/0ksbt2,1,Q1444608,actor
3702,Mary Steenburgen,21,F,1953-02-08,/m/07mqps,/m/014g22,7,Q108935,"American actress, singer and songwriter"
5953,William Bertram,20,M,1880-01-19,NaN,/m/03nm9g0,19,Q8005494,"actor, film director"
1981,Joe Ranft,10,M,1960-03-13,NaN,/m/07gr9b,3,Q453094,American screenwriter (1960–2005)

In [8]:
# apply the function 
df['actor_description'] = df['Wikidata_actor_id'].apply(get_actor_description)

In [12]:
# save the data to a new csv file
df.to_csv('top_20_communities_all_actors_wikidata_with_description.csv', index=False)