In [1]:
# import libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import spacy
from nltk import word_tokenize

In [2]:
# load the data from csv
df = pd.read_csv('top_20_communities_all_actors_wikidata_with_description.csv')

In [3]:
df

,Actor_name,connectivity,actor_gender,Actor_date_of_birth,Actor_ethnicity,Freebase_actor_ID,community,Wikidata_actor_id,actor_description
0,John Wayne,286,M,1907-05-26,/m/063k3h,/m/043gj,1,Q40531,American actor (1907–1979)
1,Roy Rogers,242,M,1911-11-05,/m/07hwkr,/m/01mc6h1,1,Q367129,American actor and singer (1911-1998)
2,George 'Gabby' Hayes,130,M,1885-05-07,NaN,/m/03l6jx,1,Q1277973,American actor (1885-1969)
3,Basil Rathbone,121,M,1892-06-13,NaN,/m/0hwd8,1,Q336865,English actor (1892–1967)
4,John Carradine,114,M,1906-02-05,NaN,/m/021mlp,1,Q312878,American actor (1906-1988)
...,...,...,...,...,...,...,...,...,...
6069,Pushpavalli,3,F,NaN,NaN,/m/080hxfv,20,Q7261853,Indian actress
6070,Sarathi,3,M,1942-06-26,NaN,/m/0463_8t,20,Q7423331,Indian actor
6071,Ragini,3,F,1937,NaN,/m/06w4wmq,20,Q7283094,Indian actress
6072,Nirmalamma,3,F,1920,NaN,/m/07kj3f9,20,Q7040057,Indian actress
6073,Rushyendramani,3,F,1917-01-01,NaN,/m/0br_7d6,20,Q7380893,Indian actress

In [4]:
df['actor_description'] = df['actor_description'].astype(str)

In [5]:

nlp = spacy.load('en_core_web_sm')

# extract nationality from the phrase "american actor"
def extract_country(text):
    if text:
        doc = nlp(text)
        for ent in doc.ents:
            if ent.label_ == 'NORP':
                return ent.text
    return None

In [6]:
df['actor_country'] = df['actor_description'].apply(extract_country)

In [11]:
df.actor_country.value_counts()

American              2387
Indian                1061
British                345
English                221
Japanese               212
                      ...
Czech                    1
british                  1
English-Australian       1
Norwegian                1
German-French            1
Name: actor_country, Length: 96, dtype: int64