In [1]:
# import libraries
import requests
from bs4 import BeautifulSoup
import pandas as pd
import numpy as np
import spacy
from nltk import word_tokenize

In [2]:
# load the data from csv
df = pd.read_csv('top_20_communities_all_actors_wikidata_with_country_occupation.csv')

In [3]:
df

,Actor_name,connectivity,actor_gender,Actor_date_of_birth,Actor_ethnicity,Freebase_actor_ID,community,Wikidata_actor_id,actor_description,actor_country_of_citizenship,actor_occupation
0,John Wayne,286,M,1907-05-26,/m/063k3h,/m/043gj,1,Q40531,American actor (1907–1979),United States of America,"['actor', 'film actor', 'film director', 'film..."
1,Roy Rogers,242,M,1911-11-05,/m/07hwkr,/m/01mc6h1,1,Q367129,American actor and singer (1911-1998),United States of America,"['television actor', 'film actor', 'singer', '..."
2,George 'Gabby' Hayes,130,M,1885-05-07,NaN,/m/03l6jx,1,Q1277973,American actor (1885-1969),United States of America,"['actor', 'television actor', 'film actor', 'r..."
3,Basil Rathbone,121,M,1892-06-13,NaN,/m/0hwd8,1,Q336865,English actor (1892–1967),United Kingdom,"['character actor', 'stage actor', 'film actor..."
4,John Carradine,114,M,1906-02-05,NaN,/m/021mlp,1,Q312878,American actor (1906-1988),United States of America,"['film actor', 'character actor', 'stage actor..."
...,...,...,...,...,...,...,...,...,...,...,...
6069,Pushpavalli,3,F,NaN,NaN,/m/080hxfv,20,Q7261853,Indian actress,India,['actor']
6070,Sarathi,3,M,1942-06-26,NaN,/m/0463_8t,20,Q7423331,Indian actor,India,['actor']
6071,Ragini,3,F,1937,NaN,/m/06w4wmq,20,Q7283094,Indian actress,India,['actor']
6072,Nirmalamma,3,F,1920,NaN,/m/07kj3f9,20,Q7040057,Indian actress,India,['actor']
6073,Rushyendramani,3,F,1917-01-01,NaN,/m/0br_7d6,20,Q7380893,Indian actress,India,['actor']

In [4]:
df['actor_description'] = df['actor_description'].astype(str)

In [5]:

nlp = spacy.load('en_core_web_sm')

# extract nationality from the phrase "american actor"
def extract_country(text):
    if text:
        doc = nlp(text)
        for ent in doc.ents:
            if ent.label_ == 'NORP':
                return ent.text
    return None

In [6]:
# df['actor_country'] = df['actor_description'].apply(extract_country)

In [7]:
df.actor_country_of_citizenship.value_counts()

United States of America    2798
India                       1130
United Kingdom               722
Japan                        233
Canada                       131
                            ...
Colombia                       1
Argentina                      1
Greece                         1
Malta                          1
Lithuania                      1
Name: actor_country_of_citizenship, Length: 71, dtype: int64

In [8]:
df.actor_occupation.value_counts()

['actor']                                                                        615
['actor', 'film actor']                                                          298
['actor', 'television actor']                                                    293
['actor', 'film actor', 'television actor']                                      112
['actor', 'television actor', 'film actor']                                      103
                                                                                ...
['actor', 'film actor', 'screenwriter', 'television actor']                        1
['actor', 'film actor', 'film director', 'television actor', 'film producer']      1
['voice actor', 'comedian']                                                        1
['actor', 'painter', 'television actor', 'film actor', 'screenwriter']             1
['author', 'actor', 'journalist']                                                  1
Name: actor_occupation, Length: 2794, dtype: int64

In [13]:
df.actor_country_of_citizenship.isna().sum()

310

In [14]:
df.actor_occupation.isna().sum()

271

In [ ]:
# save to csv
# df.to_csv('actors_withcountries.csv', index=False)